#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        ht: hold-tap {
        compatible = "zmk,behavior-hold-tap";
        label = "hold_tap";
#binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <200>;
        quick-tap-ms = <150>;
        global-quick-tap;
        bindings = <&kp>, <&kp>;
      };

    };
    &key_repeat {
      usage-pages = <HID_USAGE_KEY HID_USAGE_CONSUMER>;
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            label = "Gaming";
            bindings = <
              &kp ESC &kp TAB &kp N1 &kp N2 &kp N3 &kp N4 &kp N5
              &kp C_NEXT &to 0 &kp Q &kp W &kp E &kp R &kp T
              &kp C_PREV &mo 1 LCAPS &kp A &kp S &kp D &kp F &kp G
              &kp C_BRIGHTNESS_INC &mo 2 &kp Z &kp X &kp C &kp V &kp B 
              &kp C_BRIGHTNESS_DEC &kp LEFT_WIN &kp RIGHT_GUI &kp ENTER &kp LCTRL &kp LSHIFT &key_repeat
            >;
        };

        lower_layer {
          label = "Lower";
          bindings = <
              &kp KP_MINUS &kp KP_PLUS &kp N6 &kp N7 &kp N8 &kp N9 &kp N0
              &kp KP_MULTIPLY &trans &kp Y &kp U &kp I &kp O &kp P
              &kp KP_SLASH &trans &kp H &kp J &kp K &kp L &kp SEMI
              &kp KP_EQUAL &trans &kp N &kp M &kp COMMA &kp PERIOD &kp SLASH 
              &kp KP_DOT &kp KP_COMMA &trans &trans &trans &trans &trans
          >;
        };

        settings_layer {
          label = "Settings";
           bindings = <
              &none &none &bt BT_CLR &none &none &none &none
              &none &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
              &none &trans &none &none &none &none &none
              &none &trans &none &none &none &none &none 
              &none &trans &trans &trans &trans &trans &trans
          >;
        }
    };
};
